<%- include('../master/header') %>
     <script src="https://kit.fontawesome.com/e216f95262.js" crossorigin="anonymous"></script>
     <style>
          .white_card.position-relative.mb_20 {
               height: 100%;
          }
     </style>
     <div class="main_content_iner overly_inner ">
          <div class="container-fluid p-0 ">

               <div class="row">
                    <div class="col-12">
                         <div class="page_title_box d-flex align-items-center justify-content-between">
                              <div class="page_title_left">
                                   <h3 class="f_s_30 f_w_700 text_white">Products</h3>
                                   <ol class="breadcrumb page_bradcam mb-0">
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Dashboard</a>
                                        </li>
                                        <li class="breadcrumb-item active">Product</li>
                                   </ol>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="row">

                    <% product.forEach(p=> { %>

                         <div class="col-md-3">
                              <div class="white_card position-relative mb_20 ">
                                   <div class="card-body ">
                                        <div class="ribbon1 rib1-primary"><span
                                                  class="text-white text-center rib1-primary">50% off</span></div>
                                        <img src="/uploads/<%- p.img %>" alt class="d-block mx-auto my-4" height="150"
                                             width="100%">
                                        <div class="row my-4">
                                             <div class="col"><span class="badge_btn_3  mb-1"><%- p.category.category
                                                            %></span>
                                                  <a href="#" class="f_w_400 color_text_3 f_s_14 d-block"><%- p.name
                                                            %></a>
                                             </div>
                                             <div class="col-auto">
                                                  <h4 class="text-dark mt-0">Rp <%- p.price %>
                                                  </h4>
                                                  <ul class="list-inline mb-0 product-review align-self-center">
                                                       <li class="list-inline-item"><i
                                                                 class="fas fa-star text-warning font-16"></i></li>
                                                       <li class="list-inline-item"><i
                                                                 class="fas fa-star text-warning font-16 ms-n2"></i>
                                                       </li>
                                                       <li class="list-inline-item"><i
                                                                 class="fas fa-star text-warning font-16 ms-n2"></i>
                                                       </li>
                                                       <li class="list-inline-item"><i
                                                                 class="fas fa-star text-warning font-16 ms-n2"></i>
                                                       </li>
                                                       <li class="list-inline-item"><i
                                                                 class="fas fa-star-half text-warning font-16 ms-n2"></i>
                                                       </li>
                                                  </ul>
                                             </div>
                                             <div style="margin-bottom: 20px;">
                                                  <p><%- p.desc %></p>

                                             </div>
                                        </div>
                                        <div class="position-absolute" style="bottom: 20px; width: 90%;">
                                             <button class="btn_2 w-100">Add To Cart</button>
                                        </div>
                                   </div>

                              </div>
                         </div>
                         <% }) %>



               </div>
          </div>
     </div>

     <!-- Load footer -->
     <%- include('../master/footer') %>